Repository elastic/elastic-otel-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

another typo
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
Owners: @elastic/apm-agent-java

spotless
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
Owners: @elastic/apm-agent-java

Hook up sampler (#810)
  custom/src/main/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProvider.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
Owners: @elastic/apm-agent-java

Bumping shadow lib version
  buildSrc/src/main/kotlin/elastic-otel.agent-packaging-conventions.gradle.kts
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java

Bumping shadow lib version (#811)
  buildSrc/src/main/kotlin/elastic-otel.agent-packaging-conventions.gradle.kts
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java

renovate ignore junit6 updates
  renovate.json
Owners: @elastic/apm-agent-java

renovate ignore junit6 updates (#817)
  renovate.json
Owners: @elastic/apm-agent-java

Update configuration.md
  docs/reference/edot-java/configuration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Update configuration.md
  docs/reference/edot-java/configuration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

fix which options 1.6 applies to
  docs/reference/edot-java/configuration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Add 9.2 supported dynamic config options (#818)
  docs/reference/edot-java/configuration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

update changelog before 1.6.0
  CHANGELOG.next-release.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

update changelog before 1.6.0 (#823)
  CHANGELOG.next-release.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

next release changelog with proper markers
  CHANGELOG.next-release.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add release changelog
  .ci/ReleaseChangelog.java
Owners: @elastic/apm-agent-java

reformat
  .ci/ReleaseChangelog.java
Owners: @elastic/apm-agent-java

deal with case where no previous version is listed
  .ci/ReleaseChangelog.java
Owners: @elastic/apm-agent-java

modify release workflow
  .github/workflows/pre-post-release.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

fix insert location offset
  .ci/ReleaseChangelog.java
Owners: @elastic/apm-agent-java

move breaking change to next release changelog
  CHANGELOG.next-release.md
  docs/release-notes/breaking-changes.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

fix 1.5.0 header level
  docs/release-notes/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

remove changelog input
  .github/workflows/pre-post-release.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

print dependency versions in changelog
  .github/workflows/pre-post-release.yml
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

revert breaking changes content for now
  CHANGELOG.next-release.md
  docs/release-notes/breaking-changes.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

include breaking changes in changelog
  .ci/ReleaseChangelog.java
Owners: @elastic/apm-agent-java

reformat
  .ci/ReleaseChangelog.java
Owners: @elastic/apm-agent-java

support dependency versions
  .ci/ReleaseChangelog.java
Owners: @elastic/apm-agent-java

update version in changelog
  .github/workflows/pre-post-release.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

release changelog automation (#824)
  .ci/ReleaseChangelog.java
  .github/workflows/pre-post-release.yml
  .github/workflows/release-step-3.yml
  CHANGELOG.next-release.md
  docs/release-notes/index.md
Owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

pre release: elastic-otel-java v1.6.0
  version.properties
Owners: @elastic/apm-agent-java

try to fix changelog update
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

try to fix changelog update (#827)
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

post release: elastic-otel-java v1.6.0
  CHANGELOG.next-release.md
  docs/release-notes/breaking-changes.md
  docs/release-notes/index.md
  version.properties
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

remove leftover from release
  CHANGELOG.next-release.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add config logging on agent startup
  custom/src/main/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProvider.java
  custom/src/main/java/co/elastic/otel/compositesampling/DynamicCompositeParentBasedTraceIdRatioBasedSampler.java
  custom/src/main/java/co/elastic/otel/config/ConfigLoggingAgentListener.java
  custom/src/test/java/co/elastic/otel/config/ConfigLoggingAgentListenerTest.java
Owners: @elastic/apm-agent-java

add infer-spans dynamoic central config handling
  custom/build.gradle.kts
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/internal/OpampManager.java
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java

adjust to gradle passing in the path to the jar
  custom/build.gradle.kts
  custom/src/test/java/co/elastic/otel/config/ConfigLoggingAgentListenerTest.java
Owners: @elastic/apm-agent-java

remove unnecessary line
  custom/build.gradle.kts
Owners: @elastic/apm-agent-java

enable the InferSpans config
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
Owners: @elastic/apm-agent-java

add config logging on agent startup (#835)
  custom/build.gradle.kts
  custom/src/main/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProvider.java
  custom/src/main/java/co/elastic/otel/compositesampling/DynamicCompositeParentBasedTraceIdRatioBasedSampler.java
  custom/src/main/java/co/elastic/otel/config/ConfigLoggingAgentListener.java
  custom/src/test/java/co/elastic/otel/config/ConfigLoggingAgentListenerTest.java
Owners: @elastic/apm-agent-java

.github/CODEOWNERS:

* @elastic/apm-agent-java
/.github/actions/  @elastic/apm-agent-java @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-java @elastic/observablt-ci
*.md @elastic/apm-agent-java @elastic/ingest-docs
/docs/ @elastic/apm-agent-java @elastic/ingest-docs
