Repository elastic/elastic-otel-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

document universal profiling as opt-in
  docs/reference/edot-java/configuration.md
  docs/reference/edot-java/features.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

update changelog
  CHANGELOG.next-release.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

make vale happy
  docs/reference/edot-java/features.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

document universal profiling as opt-in (#958)
  CHANGELOG.next-release.md
  docs/reference/edot-java/configuration.md
  docs/reference/edot-java/features.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Update migration documentation for EDOT Java to reflect changes in Elastic APM references and clarify configuration mappings
  docs/reference/edot-java/migration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Fix Vale linting
  docs/reference/edot-java/migration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

draft metrics migration doc
  docs/reference/edot-java/migration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Emphasize the deprecation of OpenTelemetry data ingestion through Elastic APM and recommend the use of EDOT Collector or Managed OTLP
  docs/reference/edot-java/migration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

fix link
  docs/reference/edot-java/migration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

docs: improve EDOT Java migration guide for accuracy & structure (#962)
  docs/reference/edot-java/migration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

pre release: elastic-otel-java v1.9.0
  version.properties
Owners: @elastic/apm-agent-java

post release: elastic-otel-java v1.9.0
  CHANGELOG.next-release.md
  docs/release-notes/breaking-changes.md
  docs/release-notes/index.md
  version.properties
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

pin jms artemis server version
  renovate.json
Owners: @elastic/apm-agent-java

pin jms artemis server version (#971)
  renovate.json
Owners: @elastic/apm-agent-java

test replace java 23 with 25
  .github/workflows/build.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

test replace java 23 with 25 (#972)
  .github/workflows/build.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

fix compilation errors due to sdk update
  custom/src/main/java/co/elastic/otel/dynamicconfig/DynamicConfiguration.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/DynamicInstrumentation.java
  custom/src/test/java/co/elastic/otel/config/DynamicInstrumentationTest.java
Owners: @elastic/apm-agent-java

manually fix changelog
  CHANGELOG.next-release.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

wip
  docs/reference/edot-java/migration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

wip system metrics
  docs/reference/edot-java/migration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add opentelemetry metrics + remove micrometer for now
  docs/reference/edot-java/migration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

detailed metrics migration docs (#963)
  docs/reference/edot-java/migration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

remove reflection in ElasticLoggingCustomizer, access is now public
  internal-logging/src/main/java/co/elastic/otel/logging/ElasticLoggingCustomizer.java
Owners: @elastic/apm-agent-java

remove reflection in ElasticLoggingCustomizer, access is now public (#983)
  internal-logging/src/main/java/co/elastic/otel/logging/ElasticLoggingCustomizer.java
Owners: @elastic/apm-agent-java

fix(ci): pre-install Semeru JDK for OpenJ9 test matrix entries
  .github/workflows/build.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

fix(ci): pre-install Semeru JDK for OpenJ9 test matrix entries (#987)
  .github/workflows/build.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

add opamp mtls capability and env vars
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/internal/OpampManager.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/internal/OpampTlsConfigurer.java
  custom/src/test/java/co/elastic/otel/dynamicconfig/CentralConfigTest.java
  custom/src/test/java/co/elastic/otel/dynamicconfig/internal/OpampManagerTest.java
  custom/src/test/java/co/elastic/otel/dynamicconfig/internal/OpampTlsConfigurerTest.java
Owners: @elastic/apm-agent-java

fix(ci): add --retry-all-errors to musl toolchain download
  jvmti-access/jni-build/jni_linux_musl_x64.Dockerfile
Owners: @elastic/apm-agent-java

add opamp mtls capability and env vars (#989)
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/internal/OpampManager.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/internal/OpampTlsConfigurer.java
  custom/src/test/java/co/elastic/otel/dynamicconfig/CentralConfigTest.java
  custom/src/test/java/co/elastic/otel/dynamicconfig/internal/OpampManagerTest.java
  custom/src/test/java/co/elastic/otel/dynamicconfig/internal/OpampTlsConfigurerTest.java
Owners: @elastic/apm-agent-java

github-action: use actions/attest
  .github/workflows/release-step-3.yml
  .github/workflows/snapshot.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

fix(ci): add --retry-all-errors to musl toolchain download (#990)
  jvmti-access/jni-build/jni_linux_musl_x64.Dockerfile
Owners: @elastic/apm-agent-java

github-action: use actions/attest
  .github/workflows/release-step-3.yml
  .github/workflows/snapshot.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

docs: fix misleading OTLP endpoint example and migration wording
  docs/reference/edot-java/migration.md
  docs/reference/edot-java/setup/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

docs: fix misleading OTLP endpoint example and migration wording (#997)
  docs/reference/edot-java/migration.md
  docs/reference/edot-java/setup/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Add agent-skill callouts for EDOT Java setup and migration.
  docs/reference/edot-java/migration.md
  docs/reference/edot-java/setup/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Update migration.md
  docs/reference/edot-java/migration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Update index.md
  docs/reference/edot-java/setup/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

docs: add EDOT Java agent-skill body text
  docs/reference/edot-java/migration.md
  docs/reference/edot-java/setup/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

update sampler to sdk incubator
  custom/build.gradle.kts
  custom/src/main/java/co/elastic/otel/compositesampling/DynamicCompositeParentBasedTraceIdRatioBasedSampler.java
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java

feat: add SCA extension for runtime JAR library inventory
  custom/build.gradle.kts
  sca-extension/README.md
  sca-extension/build.gradle.kts
  sca-extension/src/main/java/co/elastic/otel/sca/JarCollectorService.java
  sca-extension/src/main/java/co/elastic/otel/sca/JarMetadata.java
  sca-extension/src/main/java/co/elastic/otel/sca/JarMetadataExtractor.java
  sca-extension/src/main/java/co/elastic/otel/sca/SCAConfiguration.java
  sca-extension/src/main/java/co/elastic/otel/sca/SCAExtension.java
  sca-extension/src/main/resources/META-INF/services/io.opentelemetry.javaagent.extension.AgentListener
  sca-extension/src/main/resources/META-INF/services/io.opentelemetry.sdk.autoconfigure.spi.AutoConfigurationCustomizerProvider
  sca-extension/src/test/java/co/elastic/otel/sca/JarMetadataExtractorTest.java
  settings.gradle.kts
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

.github/CODEOWNERS:

* @elastic/apm-agent-java
/.github/actions/  @elastic/apm-agent-java @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-java @elastic/observablt-ci
*.md @elastic/apm-agent-java @elastic/ingest-docs
/docs/ @elastic/apm-agent-java @elastic/ingest-docs
