Repository elastic/elastic-otel-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

add minimal doc for extensions
  docs/reference/edot-java/features.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add link to our own examples
  docs/reference/edot-java/features.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

document azure resource provider as enabled by default
  docs/reference/edot-java/features.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add doc+link for extensions (#1200)
  docs/reference/edot-java/features.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

enable cloudfoundry resource attributes by default
  docs/reference/edot-java/features.md
  resources/src/main/java/co/elastic/otel/resources/ResourcesAutoConfiguration.java
  resources/src/test/java/co/elastic/otel/resources/ResourcesAutoConfigurationTest.java
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

enable cloudfoundry by default
  docs/reference/edot-java/configuration.md
  smoke-tests/src/test/java/com/example/javaagent/smoketest/DeclarativeConfigSmokeTest.java
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add declarative config
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
Owners: @elastic/apm-agent-java

spotless
  smoke-tests/src/test/java/com/example/javaagent/smoketest/DeclarativeConfigSmokeTest.java
Owners: @elastic/apm-agent-java

cleanup
  smoke-tests/src/test/java/com/example/javaagent/smoketest/AwsResourceProvidersTest.java
Owners: @elastic/apm-agent-java

enable cloudfoundry resources by default (#1205)
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
  docs/reference/edot-java/configuration.md
  docs/reference/edot-java/features.md
  resources/src/main/java/co/elastic/otel/resources/ResourcesAutoConfiguration.java
  resources/src/test/java/co/elastic/otel/resources/ResourcesAutoConfigurationTest.java
  smoke-tests/src/test/java/com/example/javaagent/smoketest/AwsResourceProvidersTest.java
  smoke-tests/src/test/java/com/example/javaagent/smoketest/DeclarativeConfigSmokeTest.java
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

generate changelog entry
  docs/changelog/upstream-update.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

generate changelog entry
  docs/changelog/upstream-update.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

explicitly enable the agent for this test
  custom/src/test/java/co/elastic/otel/config/ConfigLoggingAgentListenerTest.java
Owners: @elastic/apm-agent-java

new dependency
  inferred-spans/build.gradle.kts
Owners: @elastic/apm-agent-java

Remove stale EDOT agent-skill callouts dropped in agent-skills v0.6.0
  docs/reference/edot-java/setup/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Remove stale EDOT agent-skill callouts dropped in agent-skills v0.6.0
  docs/reference/edot-java/migration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Retarget EDOT skill callouts to observability-onboarding
  docs/reference/edot-java/setup/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Retarget EDOT skill callouts to observability-onboarding
  docs/reference/edot-java/migration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Use GitHub tree URLs for EDOT skill callouts
  docs/reference/edot-java/setup/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Use GitHub tree URLs for EDOT skill callouts
  docs/reference/edot-java/migration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Retarget EDOT Java agent-skill callouts to observability-onboarding (#1228)
  docs/reference/edot-java/migration.md
  docs/reference/edot-java/setup/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

remove deprecated await-artifact config
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

remove deprecated await-artifact config (#1230)
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

[DOCS] Add use_local_changelogs to changelog.yml
  docs/changelog.yml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Remove bundle.output setting
  docs/changelog.yml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Add --force-local to pre-post-release.yml
  .github/workflows/pre-post-release.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

Migrate changelog workflows to release-notes and update directive syntax
  .github/workflows/changelog-init.yml
  .github/workflows/changelog-submit.yml
  .github/workflows/changelog-upload.yml
  .github/workflows/changelog-upstream-update.yml
  .github/workflows/release-notes-comments.yml
  .github/workflows/release-notes.yml
  docs/docset.yml
  docs/release-notes/breaking-changes.md
  docs/release-notes/deprecations.md
  docs/release-notes/index.md
  docs/release-notes/known-issues.md
Owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

Replace bespoke upstream-update with standard changelog-file workflow
  .ci/changelog-upstream-update.sh
  .github/workflows/changelog-upstream-update.yml
  .github/workflows/release-notes-changelog-file.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

Drop bundle-on-release: bundling is handled by pre-post-release workflow
  .github/workflows/release-notes.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

Restore bundle-on-release: true
  .github/workflows/release-notes.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

Drop release_notes: declaration; docs-builder now auto-infers from repo
  docs/docset.yml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Declare edot-java product in docset.yml release_notes section
  docs/docset.yml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Move workflow permissions to job level
  .github/workflows/release-notes-changelog-file.yml
  .github/workflows/release-notes-comments.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

Move bundle generation inline into release-step-3
  .github/workflows/release-notes.yml
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

Remove pre-release bundle step; consolidate downstream workflows
  .github/workflows/pre-post-release.yml
  .github/workflows/release-notes-changelog-file.yml
  .github/workflows/release-notes-downstream.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

Revert: restore two separate downstream changelog workflows
  .github/workflows/release-notes-changelog-file.yml
  .github/workflows/release-notes-comments.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

Wire changelog-bundle-description into bundle-create-version
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

Migrate changelog workflows to unified release-notes reusable workflow (#1237)
  .ci/changelog-upstream-update.sh
  .github/workflows/changelog-init.yml
  .github/workflows/changelog-submit.yml
  .github/workflows/changelog-upload.yml
  .github/workflows/pre-post-release.yml
  .github/workflows/release-notes-changelog-file.yml
  .github/workflows/release-notes-comments.yml
  .github/workflows/release-notes.yml
  .github/workflows/release-step-3.yml
  docs/docset.yml
  docs/release-notes/breaking-changes.md
  docs/release-notes/deprecations.md
  docs/release-notes/index.md
  docs/release-notes/known-issues.md
Owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

pre release: elastic-otel-java v1.13.0
  version.properties
Owners: @elastic/apm-agent-java

fix: id-token permission and multiline GITHUB_OUTPUT in release workflows
  .github/workflows/release-notes.yml
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

.github/CODEOWNERS:

* @elastic/apm-agent-java
/.github/actions/  @elastic/apm-agent-java @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-java @elastic/observablt-ci
*.md @elastic/apm-agent-java @elastic/ingest-docs
/docs/ @elastic/apm-agent-java @elastic/ingest-docs
