Repository elastic/elastic-otel-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

.github/CODEOWNERS:

* @elastic/apm-agent-java
/.github/actions/  @elastic/apm-agent-java @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-java @elastic/observablt-ci
*.md @elastic/apm-agent-java @elastic/ingest-docs
/docs/ @elastic/apm-agent-java @elastic/ingest-docs

add changelog
  docs/changelog/1089.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Migrate sampler to non-contrib SDK incubator implementation
  custom/build.gradle.kts
  custom/src/main/java/co/elastic/otel/compositesampling/DynamicCompositeParentBasedTraceIdRatioBasedSampler.java
Owners: @elastic/apm-agent-java

make semconv version in catalog have priority over upstream
  buildSrc/src/main/kotlin/elastic-otel.java-conventions.gradle.kts
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java

migreate to stable telemetry semconv
  custom/src/main/java/co/elastic/otel/ElasticDistroResource.java
  smoke-tests/src/test/java/com/example/javaagent/smoketest/DeclarativeConfigSmokeTest.java
  testing/integration-tests/agent-internals/src/test/java/DistroResourceAttributesTest.java
Owners: @elastic/apm-agent-java

deployment.environment.name is now stable
  custom/src/main/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProvider.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/internal/OpampManager.java
  custom/src/test/java/co/elastic/otel/SemconvTest.java
Owners: @elastic/apm-agent-java

add changelog entry
  docs/changelog/1093.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

spotless
  custom/src/main/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProvider.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/internal/OpampManager.java
  smoke-tests/src/test/java/com/example/javaagent/smoketest/DeclarativeConfigSmokeTest.java
Owners: @elastic/apm-agent-java

add jdk 26
  .github/workflows/build.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

try to add dependency on matrix test result
  .github/workflows/build.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

change matrix job name
  .github/workflows/build.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

add jdk 26 test (#1094)
  .github/workflows/build.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

restore filter until upstream does it by default
  custom/src/main/resources/co/elastic/otel/config.yaml
Owners: @elastic/apm-agent-java

semconv 1.41.0 update (#1093)
  buildSrc/src/main/kotlin/elastic-otel.java-conventions.gradle.kts
  custom/src/main/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProvider.java
  custom/src/main/java/co/elastic/otel/ElasticDistroResource.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/internal/OpampManager.java
  custom/src/test/java/co/elastic/otel/SemconvTest.java
  docs/changelog/1093.yaml
  gradle/libs.versions.toml
  smoke-tests/src/test/java/com/example/javaagent/smoketest/DeclarativeConfigSmokeTest.java
  testing/integration-tests/agent-internals/src/test/java/DistroResourceAttributesTest.java
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

re-enable rule-based examples
  custom/src/main/resources/co/elastic/otel/config.yaml
Owners: @elastic/apm-agent-java

remove user-agent from declarative config
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
  custom/src/test/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizerTest.java
Owners: @elastic/apm-agent-java

fix things
  custom/src/test/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizerTest.java
  smoke-tests/test-app/src/main/java/co/elastic/otel/test/MessagingController.java
Owners: @elastic/apm-agent-java

provide experimental base declarative config support (#1089)
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
  custom/src/test/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizerTest.java
  docs/changelog/1089.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

service.namespace is stable
  universal-profiling-integration/src/main/java/co/elastic/otel/ProfilerSharedMemoryWriter.java
  universal-profiling-integration/src/main/java/co/elastic/otel/UniversalProfilingIncubatingAttributes.java
  universal-profiling-integration/src/test/java/co/elastic/otel/UniversalProfilingIncubatingAttributesTest.java
  universal-profiling-integration/src/test/java/co/elastic/otel/UniversalProfilingProcessorTest.java
Owners: @elastic/apm-agent-java

update stacktrace filter to use scope name
  custom/src/main/java/co/elastic/otel/SpanStackTraceFilter.java
  custom/src/test/java/co/elastic/otel/SpanStackTraceFilterTest.java
Owners: @elastic/apm-agent-java

service.namespace is stable (#1096)
  universal-profiling-integration/src/main/java/co/elastic/otel/ProfilerSharedMemoryWriter.java
  universal-profiling-integration/src/main/java/co/elastic/otel/UniversalProfilingIncubatingAttributes.java
  universal-profiling-integration/src/test/java/co/elastic/otel/UniversalProfilingIncubatingAttributesTest.java
  universal-profiling-integration/src/test/java/co/elastic/otel/UniversalProfilingProcessorTest.java
Owners: @elastic/apm-agent-java

use upstream tracer name to detect inferred spans
  common/build.gradle.kts
  common/src/main/java/co/elastic/otel/common/ElasticAttributes.java
  common/src/main/java/co/elastic/otel/common/InferredSpanDetector.java
  common/src/main/java/co/elastic/otel/common/LocalRootSpan.java
  common/src/test/java/co/elastic/otel/common/InferredSpanDetectorTest.java
  common/src/test/java/co/elastic/otel/common/LocalRootSpanTest.java
  custom/src/test/java/co/elastic/otel/SpanStackTraceFilterTest.java
  custom/src/test/java/co/elastic/otel/SpanStackTraceTest.java
  testing/integration-tests/inferred-spans-test/build.gradle.kts
  testing/integration-tests/inferred-spans-test/src/test/java/InferredSpansTest.java
Owners: @elastic/apm-agent-java

use stable semconv when we can
  custom/src/test/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProviderTest.java
  custom/src/test/java/co/elastic/otel/SpanStackTraceTest.java
  universal-profiling-integration/src/test/java/co/elastic/otel/UniversalProfilingProcessorTest.java
Owners: @elastic/apm-agent-java

spotless
  common/src/test/java/co/elastic/otel/common/InferredSpanDetectorTest.java
  custom/src/test/java/co/elastic/otel/SpanStackTraceFilterTest.java
  custom/src/test/java/co/elastic/otel/SpanStackTraceTest.java
  testing/integration-tests/inferred-spans-test/src/test/java/InferredSpansTest.java
Owners: @elastic/apm-agent-java

spotless
  custom/src/test/java/co/elastic/otel/SpanStackTraceTest.java
Owners: @elastic/apm-agent-java

use stable semconv in tests (#1098)
  custom/src/test/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProviderTest.java
  custom/src/test/java/co/elastic/otel/SpanStackTraceTest.java
Owners: @elastic/apm-agent-java

rename to SpanUtils
  common/src/main/java/co/elastic/otel/common/LocalRootSpan.java
  common/src/main/java/co/elastic/otel/common/SpanUtils.java
  common/src/test/java/co/elastic/otel/common/SpanUtilsTest.java
  custom/src/main/java/co/elastic/otel/SpanStackTraceFilter.java
Owners: @elastic/apm-agent-java

detect inferred spans on tracer name (#1097)
  common/build.gradle.kts
  common/src/main/java/co/elastic/otel/common/ElasticAttributes.java
  common/src/main/java/co/elastic/otel/common/LocalRootSpan.java
  common/src/main/java/co/elastic/otel/common/SpanUtils.java
  common/src/test/java/co/elastic/otel/common/LocalRootSpanTest.java
  common/src/test/java/co/elastic/otel/common/SpanUtilsTest.java
  custom/src/test/java/co/elastic/otel/SpanStackTraceTest.java
  testing/integration-tests/inferred-spans-test/build.gradle.kts
  testing/integration-tests/inferred-spans-test/src/test/java/InferredSpansTest.java
Owners: @elastic/apm-agent-java

add minimal declarative config doc
  docs/reference/edot-java/configuration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add filtering options to migration guide
  docs/reference/edot-java/migration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add clarification + code review
  docs/reference/edot-java/configuration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

fix note
  docs/reference/edot-java/configuration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Apply suggestions from code review
  docs/reference/edot-java/configuration.md
  docs/reference/edot-java/migration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add minimal declarative config doc (#1102)
  docs/reference/edot-java/configuration.md
  docs/reference/edot-java/migration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

generate changelog entry
  docs/changelog/upstream-update.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

fix declarative config packaging changes
  custom/build.gradle.kts
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
  custom/src/test/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizerTest.java
Owners: @elastic/apm-agent-java

remove workaround in declarative config
  custom/src/main/resources/co/elastic/otel/config.yaml
Owners: @elastic/apm-agent-java

fix null collection changes
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
  custom/src/test/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizerTest.java
Owners: @elastic/apm-agent-java

Adding muzzle config file
  .github/config/latest-dep-versions.json
Owners: @elastic/apm-agent-java

generate changelog entry
  docs/changelog/upstream-update.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

span stacktrace filtering simplification with DC
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
Owners: @elastic/apm-agent-java
