Repository elastic/elastic-otel-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

fix typo
  docs/reference/edot-java/configuration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

fix another typo
  docs/reference/edot-java/configuration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

configure span stacktrace capture
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
Owners: @elastic/apm-agent-java

minor simplification
  custom/src/main/resources/co/elastic/otel/config.yaml
Owners: @elastic/apm-agent-java

add base sampling configuration
  custom/src/main/resources/co/elastic/otel/config.yaml
Owners: @elastic/apm-agent-java

add tests for sampling config
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
Owners: @elastic/apm-agent-java

fix typo in env variable name (#1068)
  docs/reference/edot-java/configuration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

release changelog bundle description (#1066)
  .ci/changelog-bundle-description.sh
  .ci/changelog-upstream-update.sh
  .github/workflows/pre-post-release.yml
  build.gradle.kts
  docs/changelog/upstream-update.yaml
  docs/releases/1.1.0.yaml
  docs/releases/1.10.0.yaml
  docs/releases/1.2.0.yaml
  docs/releases/1.2.1.yaml
  docs/releases/1.3.0.yaml
  docs/releases/1.4.0.yaml
  docs/releases/1.4.1.yaml
  docs/releases/1.5.0.yaml
  docs/releases/1.6.0.yaml
  docs/releases/1.7.0.yaml
  docs/releases/1.8.0.yaml
  docs/releases/1.9.0.yaml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

declarative config: indy, propagator, stack trace, sampler (#1067)
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
Owners: @elastic/apm-agent-java

pre release: elastic-otel-java v1.11.0
  version.properties
Owners: @elastic/apm-agent-java

[ci] replace app-id to client-id to get token
  .github/workflows/labeler.yml
  .github/workflows/pre-post-release.yml
  .github/workflows/updatecli.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

add 'changelog:skip' to release PRs
  .github/workflows/pre-post-release.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

make changelog bundle on 'pre' release step
  .github/workflows/pre-post-release.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

fix generated changelog
  docs/changelog/upstream-update.yaml
  docs/releases/1.11.0.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

fix changelog remove command with missing version
  .github/workflows/pre-post-release.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

make release process depend on release notes
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

normalize changelog : dates
  docs/releases/1.0.0.yaml
  docs/releases/1.1.0.yaml
  docs/releases/1.10.0.yaml
  docs/releases/1.2.0.yaml
  docs/releases/1.2.1.yaml
  docs/releases/1.3.0.yaml
  docs/releases/1.4.0.yaml
  docs/releases/1.4.1.yaml
  docs/releases/1.5.0.yaml
  docs/releases/1.6.0.yaml
  docs/releases/1.7.0.yaml
  docs/releases/1.8.0.yaml
  docs/releases/1.9.0.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

[ci] another changelog release fix (#1075)
  .github/workflows/pre-post-release.yml
  .github/workflows/release-step-3.yml
  docs/changelog/upstream-update.yaml
  docs/releases/1.11.0.yaml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

add 'changelog:skip' to release PRs (#1074)
  .github/workflows/pre-post-release.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

another fix in the build wall
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

fix pebkc
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

another minor missing thing
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

[ci] another fix in the release changelog generation (#1077)
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

post release: elastic-otel-java v1.11.0
  version.properties
Owners: @elastic/apm-agent-java

[ci] replace app-id to client-id to get token (#1073)
  .github/workflows/labeler.yml
  .github/workflows/pre-post-release.yml
  .github/workflows/updatecli.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

remove target and lifecycle from changelog entries
  docs/releases/1.0.0.yaml
  docs/releases/1.1.0.yaml
  docs/releases/1.10.0.yaml
  docs/releases/1.2.0.yaml
  docs/releases/1.2.1.yaml
  docs/releases/1.3.0.yaml
  docs/releases/1.4.0.yaml
  docs/releases/1.4.1.yaml
  docs/releases/1.5.0.yaml
  docs/releases/1.6.0.yaml
  docs/releases/1.7.0.yaml
  docs/releases/1.8.0.yaml
  docs/releases/1.9.0.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

normalize changelog bundle content (#1076)
  docs/releases/1.0.0.yaml
  docs/releases/1.1.0.yaml
  docs/releases/1.10.0.yaml
  docs/releases/1.2.0.yaml
  docs/releases/1.2.1.yaml
  docs/releases/1.3.0.yaml
  docs/releases/1.4.0.yaml
  docs/releases/1.4.1.yaml
  docs/releases/1.5.0.yaml
  docs/releases/1.6.0.yaml
  docs/releases/1.7.0.yaml
  docs/releases/1.8.0.yaml
  docs/releases/1.9.0.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

ci(docs): scope pull_request triggers to integration branches
  .github/workflows/docs-build.yml
  .github/workflows/docs-preview-cleanup.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

add minimal config for inferred spans
  custom/src/main/resources/co/elastic/otel/config.yaml
Owners: @elastic/apm-agent-java

ci(docs): scope pull_request triggers to integration branches (#1080)
  .github/workflows/docs-build.yml
  .github/workflows/docs-preview-cleanup.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

move span processors order + add baggage opt-in
  custom/src/main/resources/co/elastic/otel/config.yaml
Owners: @elastic/apm-agent-java

fix declarative config
  custom/src/main/resources/co/elastic/otel/config.yaml
Owners: @elastic/apm-agent-java

disable user-agent customization
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
Owners: @elastic/apm-agent-java

test more declarative config
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
Owners: @elastic/apm-agent-java

remove implicit spring args
  smoke-tests/test-app/src/main/java/co/elastic/otel/test/MessagingController.java
Owners: @elastic/apm-agent-java

remove filter as it's not required
  custom/src/main/resources/co/elastic/otel/config.yaml
Owners: @elastic/apm-agent-java

make config minimal + update test
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
Owners: @elastic/apm-agent-java

add rule-based-sampler config
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
Owners: @elastic/apm-agent-java

fix the rule based sampler default 100% rate
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
Owners: @elastic/apm-agent-java

disable example rules as they don't work as expected
  custom/src/main/resources/co/elastic/otel/config.yaml
Owners: @elastic/apm-agent-java

.github/CODEOWNERS:

* @elastic/apm-agent-java
/.github/actions/  @elastic/apm-agent-java @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-java @elastic/observablt-ci
*.md @elastic/apm-agent-java @elastic/ingest-docs
/docs/ @elastic/apm-agent-java @elastic/ingest-docs
