Repository elastic/elastic-otel-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

docs: add EDOT Java v0.1.1 agent-skill callouts (#1004)
  docs/reference/edot-java/migration.md
  docs/reference/edot-java/setup/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

pre release: elastic-otel-java v1.10.0
  version.properties
Owners: @elastic/apm-agent-java

post release: elastic-otel-java v1.10.0
  CHANGELOG.next-release.md
  docs/release-notes/index.md
  version.properties
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

fix dependencies version in changelog
  docs/release-notes/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

docs: add TLS and mTLS configuration details
  docs/reference/edot-java/configuration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add readme to avoid re-creating changelog folder when empty
  changelog/README.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Apply SME comments
  docs/reference/edot-java/configuration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Document OpAMP TLS and mTLS env vars (#1021)
  docs/reference/edot-java/configuration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

start with an simple config
  docs/changelog.yml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

ci: label upstream updates as 'enhancement'
  .ci/updatecli.d/bump-upstream-agent-version.yml
Owners: @elastic/apm-agent-java

add readme for changelog folder
  docs/changelog/README.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

finish generating changelog for older versions
  docs/changelog.yml
  wip-changelog.sh
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add release note bundles
  docs/releases/1.0.0.yaml
  docs/releases/1.1.0.yaml
  docs/releases/1.10.0.yaml
  docs/releases/1.2.0.yaml
  docs/releases/1.2.1.yaml
  docs/releases/1.3.0.yaml
  docs/releases/1.4.0.yaml
  docs/releases/1.4.1.yaml
  docs/releases/1.5.0.yaml
  docs/releases/1.6.0.yaml
  docs/releases/1.7.0.yaml
  docs/releases/1.8.0.yaml
  docs/releases/1.9.0.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

ignore with 'chore' label
  changelog/README.md
  docs/changelog.yml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Add profiles to changelog.yml
  docs/changelog.yml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Add changelog directives
  docs/release-notes/breaking-changes.md
  docs/release-notes/deprecations.md
  docs/release-notes/index.md
  docs/release-notes/known-issues.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Migrate docs workflows from preview-build to docs-actions
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-preview-cleanup.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

Migrate docs workflows from preview-build to docs-actions (#1027)
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-preview-cleanup.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

update release docs
  docs/release-notes/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Update docs/release-notes/index.md
  docs/release-notes/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

update release docs for 1.10.0 (#1028)
  docs/release-notes/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

use --consise
  wip-changelog.sh
Owners: @elastic/apm-agent-java

change Docker image to run as nonroot for k8s clusters restricting to runAsNonRoot
  docker/Dockerfile
Owners: @elastic/apm-agent-java

deduplicate upstream updates
  docs/changelog.yml
  docs/releases/1.1.0.yaml
  docs/releases/1.10.0.yaml
  docs/releases/1.2.0.yaml
  docs/releases/1.2.1.yaml
  docs/releases/1.3.0.yaml
  docs/releases/1.4.0.yaml
  docs/releases/1.4.1.yaml
  docs/releases/1.5.0.yaml
  docs/releases/1.6.0.yaml
  docs/releases/1.7.0.yaml
  docs/releases/1.8.0.yaml
  docs/releases/1.9.0.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add script to generate upstream update changelog
  .ci/update-upstream-changelog.sh
Owners: @elastic/apm-agent-java

change Docker image to run as nonroot for k8s clusters restricting to runAsNonRoot (#1029)
  docker/Dockerfile
Owners: @elastic/apm-agent-java

add PR labels for renovate/updatecli for changelog
  .ci/updatecli.d/bump-upstream-agent-version.yml
  renovate.json
Owners: @elastic/apm-agent-java

add PR labels for renovate/updatecli for changelog (#1031)
  .ci/updatecli.d/bump-upstream-agent-version.yml
  renovate.json
Owners: @elastic/apm-agent-java

add init changelog config + past release bundles
  docs/changelog.yml
  docs/changelog/README.md
  docs/releases/1.0.0.yaml
  docs/releases/1.1.0.yaml
  docs/releases/1.10.0.yaml
  docs/releases/1.2.0.yaml
  docs/releases/1.2.1.yaml
  docs/releases/1.3.0.yaml
  docs/releases/1.4.0.yaml
  docs/releases/1.4.1.yaml
  docs/releases/1.5.0.yaml
  docs/releases/1.6.0.yaml
  docs/releases/1.7.0.yaml
  docs/releases/1.8.0.yaml
  docs/releases/1.9.0.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add changelog workflows
  .github/workflows/changelog-submit.yml
  .github/workflows/changelog-validate.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

handle review
  docs/changelog/readme
  docs/releases/1.0.0.yaml
  docs/releases/1.1.0.yaml
  docs/releases/1.10.0.yaml
  docs/releases/1.2.0.yaml
  docs/releases/1.2.1.yaml
  docs/releases/1.3.0.yaml
  docs/releases/1.4.0.yaml
  docs/releases/1.4.1.yaml
  docs/releases/1.5.0.yaml
  docs/releases/1.6.0.yaml
  docs/releases/1.7.0.yaml
  docs/releases/1.8.0.yaml
  docs/releases/1.9.0.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

remove changelog/readme file
  docs/changelog/readme
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Apply suggestions from code review
  .github/workflows/changelog-submit.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

label dependabot PRs to be ignored in changelog
  .github/dependabot.yml
Owners: @elastic/apm-agent-java

[ci] changelog automation on PRs (#1032)
  .github/workflows/changelog-submit.yml
  .github/workflows/changelog-validate.yml
  docs/changelog.yml
  docs/releases/1.0.0.yaml
  docs/releases/1.1.0.yaml
  docs/releases/1.10.0.yaml
  docs/releases/1.2.0.yaml
  docs/releases/1.2.1.yaml
  docs/releases/1.3.0.yaml
  docs/releases/1.4.0.yaml
  docs/releases/1.4.1.yaml
  docs/releases/1.5.0.yaml
  docs/releases/1.6.0.yaml
  docs/releases/1.7.0.yaml
  docs/releases/1.8.0.yaml
  docs/releases/1.9.0.yaml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

label dependabot PRs to be ignored in changelog (#1033)
  .github/dependabot.yml
Owners: @elastic/apm-agent-java

add .gitkeep to keep empty changelog folder
  docs/changelog/.gitkeep
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add .gitkeep to keep empty changelog folder (#1036)
  docs/changelog/.gitkeep
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add step to generate changelog for upstream
  .github/workflows/changelog-submit.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

add wip changelog generation
  .github/workflows/changelog-submit.yml
  build.gradle.kts
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

.github/CODEOWNERS:

* @elastic/apm-agent-java
/.github/actions/  @elastic/apm-agent-java @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-java @elastic/observablt-ci
*.md @elastic/apm-agent-java @elastic/ingest-docs
/docs/ @elastic/apm-agent-java @elastic/ingest-docs
