Repository elastic/elastic-otel-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

.github/CODEOWNERS:

* @elastic/apm-agent-java
/.github/actions/  @elastic/apm-agent-java @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-java @elastic/observablt-ci
*.md @elastic/apm-agent-java @elastic/ingest-docs
/docs/ @elastic/apm-agent-java @elastic/ingest-docs

disable inapplicable tests on windows
  inferred-spans/src/test/java/co/elastic/otel/InferredSpansBackwardsCompatibilityConfigTest.java
  testing/integration-tests/universal-profiling-test/src/test/java/UniversalProfilingIntegrationTest.java
Owners: @elastic/apm-agent-java

disable inapplicable tests on windows (#720)
  inferred-spans/src/test/java/co/elastic/otel/InferredSpansBackwardsCompatibilityConfigTest.java
  testing/integration-tests/universal-profiling-test/src/test/java/UniversalProfilingIntegrationTest.java
Owners: @elastic/apm-agent-java

Update publish URLS to sonatype central
  build.gradle.kts
Owners: @elastic/apm-agent-java

Update publish URLS to sonatype central (#725)
  build.gradle.kts
Owners: @elastic/apm-agent-java

allow to bypass certificate validation
  custom/src/main/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProvider.java
  custom/src/main/java/co/elastic/otel/ElasticVerifyServerCert.java
  custom/src/main/java/co/elastic/otel/metrics/DelegatingMetricData.java
Owners: @elastic/apm-agent-java

Fix sonatype URLs for release process
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

fix typo and cleanup
  custom/src/main/java/co/elastic/otel/ElasticVerifyServerCert.java
Owners: @elastic/apm-agent-java

add minimal testing
  custom/src/main/java/co/elastic/otel/ElasticVerifyServerCert.java
  custom/src/test/java/co/elastic/otel/ElasticVerifyServerCertTest.java
  custom/src/test/resources/dummy.keystore
Owners: @elastic/apm-agent-java

cleanup
  custom/src/main/java/co/elastic/otel/ElasticVerifyServerCert.java
  custom/src/test/java/co/elastic/otel/ElasticVerifyServerCertTest.java
Owners: @elastic/apm-agent-java

update changelog
  CHANGELOG.next-release.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Fix sonatype URLs for release process (#732)
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

simplify and make it java8 compliant
  custom/src/main/java/co/elastic/otel/ElasticVerifyServerCert.java
  custom/src/test/java/co/elastic/otel/ElasticVerifyServerCertTest.java
  custom/src/test/resources/dummy.keystore
Owners: @elastic/apm-agent-java

add option to bypass certificate validation (#726)
  CHANGELOG.next-release.md
  custom/src/main/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProvider.java
  custom/src/main/java/co/elastic/otel/ElasticVerifyServerCert.java
  custom/src/main/java/co/elastic/otel/metrics/DelegatingMetricData.java
  custom/src/test/java/co/elastic/otel/ElasticVerifyServerCertTest.java
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Add logging of the otel SDK configuration
  custom/src/main/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProvider.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/BlockableLogRecordExporter.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/BlockableMetricExporter.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/BlockableSpanExporter.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/ConfigLogger.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/DynamicConfiguration.java
  custom/src/test/java/co/elastic/otel/dynamicconfig/ConfigLoggerTest.java
  custom/src/test/java/co/elastic/otel/dynamicconfig/DynamicInstrumentationTest.java
  internal-logging/src/main/java/co/elastic/otel/logging/AgentLog.java
Owners: @elastic/apm-agent-java

updatecli: avoid resetting and use the same feature branch
  .ci/updatecli.d/bump-upstream-agent-version.yml
Owners: @elastic/apm-agent-java

updatecli: avoid resetting and use the same feature branch (#747)
  .ci/updatecli.d/bump-upstream-agent-version.yml
Owners: @elastic/apm-agent-java

pre release: elastic-otel-java v1.5.0
  version.properties
Owners: @elastic/apm-agent-java

post release: elastic-otel-java v1.5.0
  CHANGELOG.md
  CHANGELOG.next-release.md
  version.properties
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add tech preview about central config
  CHANGELOG.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add 1.5.0 release notes
  docs/release-notes/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add 1.5.0 release notes (#755)
  docs/release-notes/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

ci: fix semgrep reported run-shell-injection
  .github/workflows/gradle-goal/action.yml
  .github/workflows/pre-post-release.yml
  .github/workflows/validate-tag/action.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

switch to 2.18.1, and switch openai to upstream
  custom/src/test/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProviderTest.java
  gradle/libs.versions.toml
  instrumentation/openai-client-instrumentation/instrumentation-1.1/src/main/java/co/elastic/otel/openai/v1_1/OpenAiClientInstrumentationModule.java
  instrumentation/openai-client-instrumentation/instrumentation-1.1/src/test/java/co/elastic/otel/openai/v1_1/ChatTest.java
  instrumentation/openai-client-instrumentation/instrumentation-1.1/src/test/java/co/elastic/otel/openai/v1_1/EmbeddingsTest.java
Owners: @elastic/apm-agent-java

add breaking change notice
  docs/release-notes/breaking-changes.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Update docs/release-notes/breaking-changes.md
  docs/release-notes/breaking-changes.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Update docs/release-notes/breaking-changes.md
  docs/release-notes/breaking-changes.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Update docs/release-notes/breaking-changes.md
  docs/release-notes/breaking-changes.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Update docs/release-notes/breaking-changes.md
  docs/release-notes/breaking-changes.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

remove snapshot link
  README.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

remove snapshot link (#769)
  README.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add opamp centrally configurable polling interval
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
  opamp/src/main/java/co/elastic/opamp/client/CentralConfigurationManagerImpl.java
  opamp/src/main/java/co/elastic/opamp/client/OpampClient.java
  opamp/src/main/java/co/elastic/opamp/client/internal/OpampClientImpl.java
  opamp/src/main/java/co/elastic/opamp/client/request/service/HttpRequestService.java
Owners: @elastic/apm-agent-java

debug log when a http opamp request is made
  opamp/src/main/java/co/elastic/opamp/client/request/service/HttpRequestService.java
Owners: @elastic/apm-agent-java

stop duplication in task execution
  opamp/src/main/java/co/elastic/opamp/client/internal/periodictask/PeriodicTaskExecutor.java
Owners: @elastic/apm-agent-java

fix war test app file resolution
  smoke-tests/build.gradle
Owners: @elastic/apm-agent-java

enclosed env vars in curly braces
  .github/workflows/gradle-goal/action.yml
  .github/workflows/pre-post-release.yml
  .github/workflows/validate-tag/action.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

typo fix
  .github/workflows/pre-post-release.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

ci: fix semgrep reported run-shell-injection (#764)
  .github/workflows/gradle-goal/action.yml
  .github/workflows/pre-post-release.yml
  .github/workflows/validate-tag/action.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

OpAMP Polling interval (#770)
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
  opamp/src/main/java/co/elastic/opamp/client/CentralConfigurationManagerImpl.java
  opamp/src/main/java/co/elastic/opamp/client/OpampClient.java
  opamp/src/main/java/co/elastic/opamp/client/internal/OpampClientImpl.java
  opamp/src/main/java/co/elastic/opamp/client/internal/periodictask/PeriodicTaskExecutor.java
  opamp/src/main/java/co/elastic/opamp/client/request/service/HttpRequestService.java
Owners: @elastic/apm-agent-java

fix internal API change
  custom/src/test/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProviderTest.java
Owners: @elastic/apm-agent-java

switch to 2.18.1, and switch openai to upstream (#763)
  custom/src/test/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProviderTest.java
  docs/release-notes/breaking-changes.md
  gradle/libs.versions.toml
  instrumentation/openai-client-instrumentation/instrumentation-1.1/src/main/java/co/elastic/otel/openai/v1_1/OpenAiClientInstrumentationModule.java
  instrumentation/openai-client-instrumentation/instrumentation-1.1/src/test/java/co/elastic/otel/openai/v1_1/ChatTest.java
  instrumentation/openai-client-instrumentation/instrumentation-1.1/src/test/java/co/elastic/otel/openai/v1_1/EmbeddingsTest.java
Owners: @elastic/apm-agent-java, @elastic/ingest-docs
