Repository elastic/elastic-otel-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

.github/CODEOWNERS:

* @elastic/apm-agent-java
/.github/actions/  @elastic/apm-agent-java @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-java @elastic/observablt-ci
*.md @elastic/apm-agent-java @elastic/ingest-docs
/docs/ @elastic/apm-agent-java @elastic/ingest-docs

split in two workflows
  .github/workflows/changelg-submit-upstream-update.yml
  .github/workflows/changelog-submit.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

push script closer to final form
  .github/workflows/changelg-submit-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

remove gradle wrapper
  .github/workflows/changelg-submit-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

Update .github/workflows/changelg-submit-upstream-update.yml
  .github/workflows/changelg-submit-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

wip
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

fix stuff
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

fix fork
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

fix things again
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

push with detached head
  .github/workflows/changelog-submit.yml
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

fix fork condition
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

fix branch name
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

avoid temp folder
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

another try to get the branch name
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

printf debug
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

another try
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

try with git implicit user/ref
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

try it another way
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

Add changelog for upstream update
  docs/changelog/upstream-update.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add condition to skip if already present
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

using bash syntax for if
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

remove changelog to test again
  .github/workflows/changelog-upstream-update.yml
  docs/changelog/upstream-update.yaml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

cleanup
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

remove useless output dir
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

wip: debug changelog submit filtering
  .github/workflows/changelog-submit.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

add todos
  .github/workflows/changelog-submit.yml
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

handle review feedback
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

fix pebkc
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

try again
  .github/workflows/changelog-upstream-update.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

try to merge in two workflows
  .github/workflows/changelog-init.yml
  .github/workflows/changelog-submit.yml
  .github/workflows/changelog-validate.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

validate for upstream update
  .github/workflows/changelog-init.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

rename steps
  .github/workflows/changelog-init.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

try a better approach
  .github/workflows/changelog-init.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

simpler naming for jobs
  .github/workflows/changelog-init.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

try to fix condition
  .github/workflows/changelog-init.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

Add changelog for upstream update
  docs/changelog/upstream-update.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

remove unused env variable
  .github/workflows/changelog-init.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

swap things again
  .github/workflows/changelog-init.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

try to fix things
  .github/workflows/changelog-init.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

yolo debugging
  .github/workflows/changelog-init.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

try something else
  .github/workflows/changelog-init.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci
