Repository elastic/elastic-otel-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

simplify remove span stacktrace filtering
  custom/src/main/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProvider.java
  custom/src/main/java/co/elastic/otel/SpanStackTraceFilter.java
  custom/src/test/java/co/elastic/otel/SpanStackTraceFilterTest.java
Owners: @elastic/apm-agent-java

[ci] fix changelog-submit permissions
  .github/workflows/changelog-submit.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

remove permission content
  .github/workflows/changelog-submit.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

[ci] fix changelog-submit permissions (#1118)
  .github/workflows/changelog-submit.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

manually add changelog entry
  docs/changelog/1117.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

remove explicit filter to simplify span stacktrace declarative config (#1117)
  custom/src/main/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProvider.java
  custom/src/main/java/co/elastic/otel/SpanStackTraceFilter.java
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/SpanStackTraceFilterTest.java
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
  docs/changelog/1117.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

ci: add changelog-upload workflow and tighten changelog-init permissions
  .github/workflows/changelog-init.yml
  .github/workflows/changelog-upload.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

ci: add changelog-upload workflow and tighten changelog-init permissions (#1123)
  .github/workflows/changelog-init.yml
  .github/workflows/changelog-upload.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

add app_server resource provider
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
Owners: @elastic/apm-agent-java

add extra note on making it deterministic
  custom/src/main/resources/co/elastic/otel/config.yaml
Owners: @elastic/apm-agent-java

add app_server resource provider in default declarative configuration (#1131)
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
Owners: @elastic/apm-agent-java

generate changelog entry
  docs/changelog/upstream-update.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

fix import
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
Owners: @elastic/apm-agent-java

fix tests
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
  custom/src/test/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizerTest.java
Owners: @elastic/apm-agent-java

bump contrib version to fix opamp
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java

Update release notes to keep publishing dates
  docs/release-notes/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Update release notes to keep publishing dates (#1149)
  docs/release-notes/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

change test metric to avoid mapping conflicts
  examples/troubleshooting/README.md
  examples/troubleshooting/src/main/java/elastic/troubleshooting/Main.java
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

change test metric to avoid mapping conflicts (#1158)
  examples/troubleshooting/README.md
  examples/troubleshooting/src/main/java/elastic/troubleshooting/Main.java
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

release-step-3: output docs release-notes URL instead of rendered changelog text (#1160)
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

fix enabling indy in declarative config
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
Owners: @elastic/apm-agent-java

fix enabling indy in declarative config (#1162)
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
Owners: @elastic/apm-agent-java

support cloudfoundry
  .ci/release/post-release.sh
  .github/workflows/pre-post-release.yml
  cloudfoundry/index.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

make post-release.sh executable per v1v feedback
  .ci/release/post-release.sh
Owners: @elastic/apm-agent-java

support cloudfoundry (#1174)
  .ci/release/post-release.sh
  .github/workflows/pre-post-release.yml
  cloudfoundry/index.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

note about delta up to 9.5
  docs/reference/edot-java/features.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Update docs/reference/edot-java/features.md
  docs/reference/edot-java/features.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

note about delta up to 9.5 (#1176)
  docs/reference/edot-java/features.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

docs: rename EDOT to Elastic OTel Java for 9.5 rebrand
  docs/docset.yml
  docs/reference/edot-java/configuration.md
  docs/reference/edot-java/features.md
  docs/reference/edot-java/index.md
  docs/reference/edot-java/migration.md
  docs/reference/edot-java/overhead.md
  docs/reference/edot-java/setup/index.md
  docs/reference/edot-java/setup/k8s.md
  docs/reference/edot-java/setup/runtime-attach.md
  docs/reference/edot-java/supported-technologies.md
  docs/release-notes/breaking-changes.md
  docs/release-notes/deprecations.md
  docs/release-notes/index.md
  docs/release-notes/known-issues.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

generate changelog entry
  docs/changelog/upstream-update.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

fix imports
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
Owners: @elastic/apm-agent-java

fix failing test - command args no longer emitted
  smoke-tests/src/test/java/com/example/javaagent/smoketest/DeclarativeConfigSmokeTest.java
Owners: @elastic/apm-agent-java

pre release: elastic-otel-java v1.12.0
  docs/changelog/1089.yaml
  docs/changelog/1093.yaml
  docs/changelog/1117.yaml
  docs/changelog/upstream-update.yaml
  docs/releases/1.12.0.yaml
  version.properties
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

post release: elastic-otel-java v1.12.0
  cloudfoundry/index.yml
  version.properties
Owners: @elastic/apm-agent-java

remove deprecated changelog resolve
  docs/changelog.yml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

remove deprecated changelog resolve (#1193)
  docs/changelog.yml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Skipping build for docs-only changes
  .github/workflows/build.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

add a few extension examples
  examples/extensions/README.md
  examples/extensions/gradle/wrapper/gradle-wrapper.jar
  examples/extensions/gradle/wrapper/gradle-wrapper.properties
  examples/extensions/gradlew
  examples/extensions/gradlew.bat
  examples/extensions/modify-span/build.gradle.kts
  examples/extensions/modify-span/src/main/java/otel/extension/span/ExampleAutoConfigurationCustomizerProvider.java
  examples/extensions/modify-span/src/main/java/otel/extension/span/ExampleSpanExporter.java
  examples/extensions/modify-span/src/main/java/otel/extension/span/ExampleSpanProcessor.java
  examples/extensions/resource-attribute/build.gradle.kts
  examples/extensions/resource-attribute/src/main/java/otel/extension/resource/ExampleResourceProvider.java
  examples/extensions/settings.gradle.kts
  examples/extensions/test-app/build.gradle.kts
  examples/extensions/test-app/src/main/java/Main.java
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

cleanup
  examples/extensions/README.md
  examples/extensions/modify-span/build.gradle.kts
  examples/extensions/modify-span/src/main/java/otel/extension/span/ExampleAutoConfigurationCustomizerProvider.java
  examples/extensions/modify-span/src/main/java/otel/extension/span/ExampleSpanProcessor.java
  examples/extensions/resource-attribute/build.gradle.kts
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add a few extensions examples (#1197)
  examples/extensions/README.md
  examples/extensions/gradle/wrapper/gradle-wrapper.jar
  examples/extensions/gradle/wrapper/gradle-wrapper.properties
  examples/extensions/gradlew
  examples/extensions/gradlew.bat
  examples/extensions/modify-span/build.gradle.kts
  examples/extensions/modify-span/src/main/java/otel/extension/span/ExampleAutoConfigurationCustomizerProvider.java
  examples/extensions/modify-span/src/main/java/otel/extension/span/ExampleSpanExporter.java
  examples/extensions/modify-span/src/main/java/otel/extension/span/ExampleSpanProcessor.java
  examples/extensions/resource-attribute/build.gradle.kts
  examples/extensions/resource-attribute/src/main/java/otel/extension/resource/ExampleResourceProvider.java
  examples/extensions/settings.gradle.kts
  examples/extensions/test-app/build.gradle.kts
  examples/extensions/test-app/src/main/java/Main.java
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

.github/CODEOWNERS:

* @elastic/apm-agent-java
/.github/actions/  @elastic/apm-agent-java @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-java @elastic/observablt-ci
*.md @elastic/apm-agent-java @elastic/ingest-docs
/docs/ @elastic/apm-agent-java @elastic/ingest-docs
