Repository elastic/elastic-otel-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

.github/CODEOWNERS:

* @elastic/apm-agent-java
/.github/actions/  @elastic/apm-agent-java @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-java @elastic/observablt-ci
*.md @elastic/apm-agent-java @elastic/ingest-docs
/docs/ @elastic/apm-agent-java @elastic/ingest-docs

try to fix things again
  .github/workflows/changelog-init.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

add quotes for extra safety
  .github/workflows/changelog-init.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

remove generated changelog
  docs/changelog/upstream-update.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

remove unused script
  .ci/update-upstream-changelog.sh
Owners: @elastic/apm-agent-java

remove wip script
  wip-changelog.sh
Owners: @elastic/apm-agent-java

remove unused markdown file
  docs/changelog/README.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

use placeholder for release notes
  docs/release-notes/breaking-changes.md
  docs/release-notes/deprecations.md
  docs/release-notes/index.md
  docs/release-notes/known-issues.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

docs: fix trailing whitespace
  README.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

move inline script to its own file
  .ci/changelog-upstream-update.sh
  .github/workflows/changelog-init.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

make script more strict
  .ci/changelog-upstream-update.sh
Owners: @elastic/apm-agent-java

remove github token
  .github/workflows/changelog-init.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

fix path to changelog script
  .github/workflows/changelog-init.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

make script executable
  .ci/changelog-upstream-update.sh
Owners: @elastic/apm-agent-java

generate changelog entry
  docs/changelog/upstream-update.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

remove generated changelog
  docs/changelog/upstream-update.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

move upstream update script in .ci folder
  .ci/update-upstream.sh
  .ci/updatecli.d/bump-upstream-agent-version.yml
  gradle/libs.versions.toml
  renovate.json
Owners: @elastic/apm-agent-java

[DOCS] Test bundle descriptions
  docs/changelog.yml
  docs/changelog/1017.yaml
  docs/release-notes/breaking-changes.md
  docs/release-notes/deprecations.md
  docs/release-notes/index.md
  docs/release-notes/known-issues.md
  docs/releases/1.10.0.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

version and 'ga' not required to add
  .ci/changelog-upstream-update.sh
Owners: @elastic/apm-agent-java

generate release bundle on release
  .github/workflows/pre-post-release.yml
  docs/changelog.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

cleanup
  .ci/ReleaseChangelog.java
  .github/workflows/pre-post-release.yml
  .github/workflows/release-step-3.yml
  CHANGELOG.md
  CHANGELOG.next-release.md
Owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

add missing security issue fix for 1.10.0
  docs/releases/1.10.0.amend-1.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

remove unused gradle task
  build.gradle.kts
Owners: @elastic/apm-agent-java

forgot to add docs-builder to release
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

use env variable to generate gh changelog
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

add release dates to existing releases
  docs/releases/1.0.0.yaml
  docs/releases/1.1.0.yaml
  docs/releases/1.10.0.yaml
  docs/releases/1.2.0.yaml
  docs/releases/1.2.1.yaml
  docs/releases/1.3.0.yaml
  docs/releases/1.4.0.yaml
  docs/releases/1.4.1.yaml
  docs/releases/1.5.0.yaml
  docs/releases/1.6.0.yaml
  docs/releases/1.7.0.yaml
  docs/releases/1.8.0.yaml
  docs/releases/1.9.0.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add distro resource attributes for dc
  custom/build.gradle.kts
  custom/src/main/java/co/elastic/otel/ElasticDistroResource.java
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDistroComponentProvider.java
Owners: @elastic/apm-agent-java

add some tests for distro resource
  custom/build.gradle.kts
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDistroComponentProvider.java
  custom/src/test/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizerTest.java
Owners: @elastic/apm-agent-java

add release dates to existing releases
  docs/releases/1.0.0.yaml
  docs/releases/1.1.0.yaml
  docs/releases/1.10.0.yaml
  docs/releases/1.2.0.yaml
  docs/releases/1.2.1.yaml
  docs/releases/1.3.0.yaml
  docs/releases/1.4.0.yaml
  docs/releases/1.4.1.yaml
  docs/releases/1.5.0.yaml
  docs/releases/1.6.0.yaml
  docs/releases/1.7.0.yaml
  docs/releases/1.8.0.yaml
  docs/releases/1.9.0.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

start implementation of custom user-agent
  custom/build.gradle.kts
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
  custom/src/test/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizerTest.java
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java

finish work on user-agent
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
  custom/src/test/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizerTest.java
Owners: @elastic/apm-agent-java

cleanup
  custom/src/main/java/co/elastic/otel/ElasticUserAgentHeader.java
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
Owners: @elastic/apm-agent-java

remove duplication
  custom/src/main/java/co/elastic/otel/ElasticUserAgentHeader.java
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
Owners: @elastic/apm-agent-java

fix things
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
  custom/src/test/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizerTest.java
Owners: @elastic/apm-agent-java

Add release_dates changelog config
  docs/changelog.yml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

restore formatted markdown for release
  build.gradle.kts
Owners: @elastic/apm-agent-java

add release bundle description
  docs/releases/1.1.0.yaml
  docs/releases/1.10.0.yaml
  docs/releases/1.2.0.yaml
  docs/releases/1.2.1.yaml
  docs/releases/1.3.0.yaml
  docs/releases/1.4.0.yaml
  docs/releases/1.4.1.yaml
  docs/releases/1.5.0.yaml
  docs/releases/1.6.0.yaml
  docs/releases/1.7.0.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

update release changelog with docs-builder (#1047)
  .ci/ReleaseChangelog.java
  .ci/changelog-upstream-update.sh
  .github/workflows/pre-post-release.yml
  .github/workflows/release-step-3.yml
  CHANGELOG.md
  CHANGELOG.next-release.md
  docs/changelog.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

declarative config: set distro + user-agent (#1050)
  custom/build.gradle.kts
  custom/src/main/java/co/elastic/otel/ElasticDistroResource.java
  custom/src/main/java/co/elastic/otel/ElasticUserAgentHeader.java
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDistroComponentProvider.java
  custom/src/test/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizerTest.java
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java

modify renovate config
  renovate.json
Owners: @elastic/apm-agent-java

restore older jsonunit for java8 compat
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java
