Repository elastic/elastic-otel-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

Add TLS notes and settings (#913)
  docs/reference/edot-java/configuration.md
  docs/reference/edot-java/supported-technologies.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

fix link for trace_methods migration (#914)
  docs/reference/edot-java/migration.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

copy baggage example as start point
  examples/baggage-extension/README.md
  examples/baggage-extension/build.gradle.kts
  examples/baggage-extension/gradle/wrapper/gradle-wrapper.jar
  examples/baggage-extension/gradle/wrapper/gradle-wrapper.properties
  examples/baggage-extension/gradlew
  examples/baggage-extension/gradlew.bat
  examples/baggage-extension/settings.gradle.kts
  examples/baggage-extension/src/main/java/baggage/example/Main.java
  examples/baggage-extension/src/main/java/baggage/example/SimpleServer.java
  examples/baggage-extension/src/main/resources/log4j2.xml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

modify readme
  examples/baggage-extension/README.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add option to not use baggage API
  examples/baggage/build.gradle.kts
  examples/baggage/src/main/java/baggage/example/Main.java
  examples/baggage/src/main/java/baggage/example/SimpleServer.java
Owners: @elastic/apm-agent-java

remove complete duplication
  examples/baggage-extension/README.md
  examples/baggage-extension/build.gradle.kts
  examples/baggage-extension/gradle/wrapper/gradle-wrapper.jar
  examples/baggage-extension/gradle/wrapper/gradle-wrapper.properties
  examples/baggage-extension/gradlew
  examples/baggage-extension/gradlew.bat
  examples/baggage-extension/settings.gradle.kts
  examples/baggage-extension/src/main/java/baggage/example/Main.java
  examples/baggage-extension/src/main/java/baggage/example/SimpleServer.java
  examples/baggage-extension/src/main/resources/log4j2.xml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

rework instructions
  examples/baggage/README.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

simplify app jar name
  examples/baggage/README.md
  examples/baggage/build.gradle.kts
  examples/baggage/extension/build.gradle.kts
  examples/baggage/settings.gradle.kts
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

almost working
  examples/baggage/build.gradle.kts
  examples/baggage/extension/build.gradle.kts
  examples/baggage/extension/src/main/java/baggage/example/extension/CustomBaggageInstrumentation.java
  examples/baggage/extension/src/main/java/baggage/example/extension/CustomBaggageInstrumentationModule.java
  examples/baggage/extension/src/main/java/baggage/example/extension/CustomBaggageInstrumenterCustomizerProvider.java
  examples/baggage/extension/src/main/java/baggage/example/extension/CustomBaggageSingletons.java
  examples/baggage/extension/src/main/resources/META-INF/services/io.opentelemetry.instrumentation.api.incubator.instrumenter.InstrumenterCustomizerProvider
  examples/baggage/extension/src/main/resources/META-INF/services/io.opentelemetry.javaagent.extension.instrumentation.InstrumentationModule
  examples/baggage/settings.gradle.kts
  examples/baggage/src/main/java/baggage/example/SimpleServer.java
Owners: @elastic/apm-agent-java

align with upstream agent version
  examples/baggage/build.gradle.kts
  examples/baggage/extension/build.gradle.kts
  examples/baggage/settings.gradle.kts
Owners: @elastic/apm-agent-java

update gradle wrapper
  examples/baggage/gradle/wrapper/gradle-wrapper.jar
  examples/baggage/gradle/wrapper/gradle-wrapper.properties
  examples/baggage/gradlew
  examples/baggage/gradlew.bat
Owners: @elastic/apm-agent-java

fix missing dependencies
  examples/baggage/extension/build.gradle.kts
  examples/baggage/settings.gradle.kts
Owners: @elastic/apm-agent-java

Update applies_to syntax
  docs/reference/edot-java/configuration.md
  docs/reference/edot-java/setup/runtime-attach.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Update applies_to syntax (#919)
  docs/reference/edot-java/configuration.md
  docs/reference/edot-java/setup/runtime-attach.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

simplify and make it work !
  examples/baggage/extension/src/main/java/baggage/example/extension/CustomBaggageInstrumentation.java
  examples/baggage/extension/src/main/java/baggage/example/extension/CustomBaggageInstrumentationModule.java
  examples/baggage/extension/src/main/java/baggage/example/extension/CustomBaggageInstrumenterCustomizerProvider.java
  examples/baggage/extension/src/main/java/baggage/example/extension/CustomBaggageSingletons.java
Owners: @elastic/apm-agent-java

update documentation
  examples/baggage/README.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

add custom baggage context propagator for filtering
  examples/baggage/README.md
  examples/baggage/extension/src/main/java/baggage/example/extension/FilteringBaggagePropagator.java
  examples/baggage/extension/src/main/java/baggage/example/extension/FilteringBaggagePropagatorProvider.java
  examples/baggage/extension/src/main/resources/META-INF/services/io.opentelemetry.sdk.autoconfigure.spi.ConfigurablePropagatorProvider
  examples/baggage/src/main/java/baggage/example/Main.java
  examples/baggage/src/main/java/baggage/example/SimpleServer.java
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

automation: assign internal PRs to author
  .github/workflows/labeler.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

automation: assign internal PRs to author (#921)
  .github/workflows/labeler.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

test PR
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java

Apply suggestions from code review
  examples/baggage/README.md
  examples/baggage/src/main/java/baggage/example/SimpleServer.java
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

[wip] onweek baggage extension (#917)
  examples/baggage/README.md
  examples/baggage/build.gradle.kts
  examples/baggage/extension/build.gradle.kts
  examples/baggage/extension/src/main/java/baggage/example/extension/CustomBaggageInstrumentation.java
  examples/baggage/extension/src/main/java/baggage/example/extension/CustomBaggageInstrumentationModule.java
  examples/baggage/extension/src/main/java/baggage/example/extension/CustomBaggageInstrumenterCustomizerProvider.java
  examples/baggage/extension/src/main/java/baggage/example/extension/FilteringBaggagePropagator.java
  examples/baggage/extension/src/main/java/baggage/example/extension/FilteringBaggagePropagatorProvider.java
  examples/baggage/extension/src/main/resources/META-INF/services/io.opentelemetry.instrumentation.api.incubator.instrumenter.InstrumenterCustomizerProvider
  examples/baggage/extension/src/main/resources/META-INF/services/io.opentelemetry.javaagent.extension.instrumentation.InstrumentationModule
  examples/baggage/extension/src/main/resources/META-INF/services/io.opentelemetry.sdk.autoconfigure.spi.ConfigurablePropagatorProvider
  examples/baggage/gradle/wrapper/gradle-wrapper.jar
  examples/baggage/gradle/wrapper/gradle-wrapper.properties
  examples/baggage/gradlew
  examples/baggage/gradlew.bat
  examples/baggage/settings.gradle.kts
  examples/baggage/src/main/java/baggage/example/Main.java
  examples/baggage/src/main/java/baggage/example/SimpleServer.java
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

use composable sampler
  custom/build.gradle.kts
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
  custom/src/main/java/co/elastic/otel/sampling/ElasticSampler.java
  custom/src/main/java/co/elastic/otel/sampling/ElasticSamplerProvider.java
  custom/src/main/java/co/elastic/otel/sampling/HttpFilteringSampler.java
Owners: @elastic/apm-agent-java

polish new implementation
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
  custom/src/main/java/co/elastic/otel/sampling/ElasticSampler.java
  custom/src/main/java/co/elastic/otel/sampling/ElasticSamplerProvider.java
  custom/src/test/java/co/elastic/otel/sampling/ElasticSamplerTest.java
Owners: @elastic/apm-agent-java

code reformat
  custom/src/main/java/co/elastic/otel/sampling/ElasticSampler.java
  custom/src/main/java/co/elastic/otel/sampling/ElasticSamplerProvider.java
  custom/src/test/java/co/elastic/otel/sampling/ElasticSamplerTest.java
Owners: @elastic/apm-agent-java

fix a few things
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
  custom/src/main/java/co/elastic/otel/sampling/ElasticSampler.java
Owners: @elastic/apm-agent-java

code cleanup
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
  custom/src/main/java/co/elastic/otel/sampling/ElasticSampler.java
Owners: @elastic/apm-agent-java

make opamp client less chatty in logs
  custom/src/main/java/co/elastic/otel/dynamicconfig/internal/OpampManager.java
Owners: @elastic/apm-agent-java

enhance tests with multiple attributes
  custom/src/main/java/co/elastic/otel/sampling/ElasticSampler.java
  custom/src/test/java/co/elastic/otel/sampling/ElasticSamplerTest.java
Owners: @elastic/apm-agent-java

simplify dependencies
  custom/build.gradle.kts
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java

Update ElasticLoggingCustomizer.java
  internal-logging/src/main/java/co/elastic/otel/logging/ElasticLoggingCustomizer.java
Owners: @elastic/apm-agent-java

spotless
  internal-logging/src/main/java/co/elastic/otel/logging/ElasticLoggingCustomizer.java
Owners: @elastic/apm-agent-java

Update build.gradle.kts
  jvmti-access/build.gradle.kts
Owners: @elastic/apm-agent-java

github-actions: artifact-metadata=write
  .github/workflows/release-step-3.yml
  .github/workflows/snapshot.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

github-actions: artifact-metadata=write (#942)
  .github/workflows/release-step-3.yml
  .github/workflows/snapshot.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

Disable explicit cache usage to reduce the cache poisoning vector attack
  .github/workflows/gradle-goal/action.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

Deactivate binary cache in the docker/setup-buildx-action
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

Disable explicit cache usage to reduce the cache poisoning vector attack (#951)
  .github/workflows/gradle-goal/action.yml
  .github/workflows/release-step-3.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

Add Vale docs linting support
  .github/workflows/docs-build.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

Add Vale docs linting support (#957)
  .github/workflows/docs-build.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

.github/CODEOWNERS:

* @elastic/apm-agent-java
/.github/actions/  @elastic/apm-agent-java @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-java @elastic/observablt-ci
*.md @elastic/apm-agent-java @elastic/ingest-docs
/docs/ @elastic/apm-agent-java @elastic/ingest-docs
