Repository elastic/elastic-otel-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

enable java experimental runtime metrics by default
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
  custom/src/test/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizerTest.java
Owners: @elastic/apm-agent-java

decl. config: delta metrics temporality
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
  custom/src/test/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizerTest.java
Owners: @elastic/apm-agent-java

enable java experimental runtime metrics by default (#1056)
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
  custom/src/test/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizerTest.java
Owners: @elastic/apm-agent-java

add application server setup guidance and JAVA_TOOL_OPTIONS scope warning
  docs/reference/edot-java/setup/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Fix vale linting
  docs/reference/edot-java/setup/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

start declarative config alternative approach
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
  custom/src/test/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizerTest.java
Owners: @elastic/apm-agent-java

add simple '--default-config-yaml' CLI option
  agent/entrypoint/src/main/java/co/elastic/otel/agent/ElasticAgent.java
Owners: @elastic/apm-agent-java

remove extra } in json
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
Owners: @elastic/apm-agent-java

avoid npe when unable to parse config
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
Owners: @elastic/apm-agent-java

[changelog] add release dates + descriptions to existing releases bundles (#1048)
  docs/changelog.yml
  docs/releases/1.0.0.yaml
  docs/releases/1.1.0.yaml
  docs/releases/1.10.0.yaml
  docs/releases/1.2.0.yaml
  docs/releases/1.2.1.yaml
  docs/releases/1.3.0.yaml
  docs/releases/1.4.0.yaml
  docs/releases/1.4.1.yaml
  docs/releases/1.5.0.yaml
  docs/releases/1.6.0.yaml
  docs/releases/1.7.0.yaml
  docs/releases/1.8.0.yaml
  docs/releases/1.9.0.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

release notes switch to docs-builder yaml (#1023)
  docs/release-notes/breaking-changes.md
  docs/release-notes/deprecations.md
  docs/release-notes/index.md
  docs/release-notes/known-issues.md
  docs/releases/1.10.0.amend-1.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

first working test
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
  custom/src/main/resources/co/elastic/otel/config.yaml
  smoke-tests/src/test/java/com/example/javaagent/smoketest/DeclarativeConfigSmokeTest.java
  smoke-tests/src/test/java/com/example/javaagent/smoketest/SmokeTest.java
  smoke-tests/src/test/java/com/example/javaagent/smoketest/TestAppSmokeTest.java
Owners: @elastic/apm-agent-java

assert on resource attributes
  smoke-tests/src/test/java/com/example/javaagent/smoketest/DeclarativeConfigSmokeTest.java
  smoke-tests/src/test/java/com/example/javaagent/smoketest/SmokeTest.java
Owners: @elastic/apm-agent-java

fix things
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
  smoke-tests/src/test/java/com/example/javaagent/smoketest/DeclarativeConfigSmokeTest.java
  smoke-tests/src/test/java/com/example/javaagent/smoketest/JavaExecutable.java
Owners: @elastic/apm-agent-java

code review: check for duplicated resource attributes
  smoke-tests/src/test/java/com/example/javaagent/smoketest/SmokeTest.java
Owners: @elastic/apm-agent-java

minor fixes
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
Owners: @elastic/apm-agent-java

code reformat
  smoke-tests/src/test/java/com/example/javaagent/smoketest/SmokeTest.java
Owners: @elastic/apm-agent-java

switch alternative approach to declarative config (#1060)
  agent/entrypoint/src/main/java/co/elastic/otel/agent/ElasticAgent.java
  custom/src/main/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizer.java
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
  custom/src/test/java/co/elastic/otel/declarativeconfig/ElasticDeclarativeConfigurationCustomizerTest.java
  smoke-tests/src/test/java/com/example/javaagent/smoketest/DeclarativeConfigSmokeTest.java
  smoke-tests/src/test/java/com/example/javaagent/smoketest/JavaExecutable.java
  smoke-tests/src/test/java/com/example/javaagent/smoketest/SmokeTest.java
  smoke-tests/src/test/java/com/example/javaagent/smoketest/TestAppSmokeTest.java
Owners: @elastic/apm-agent-java

declarative config metrics delta
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
Owners: @elastic/apm-agent-java

refactor test a bit + fix things
  smoke-tests/src/test/java/com/example/javaagent/smoketest/AppServerProvidersTest.java
  smoke-tests/src/test/java/com/example/javaagent/smoketest/SmokeTest.java
  smoke-tests/src/test/java/com/example/javaagent/smoketest/TestAppSmokeTest.java
Owners: @elastic/apm-agent-java

generate changelog entry
  docs/changelog/upstream-update.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

provide env variable to override temporality
  custom/src/main/resources/co/elastic/otel/config.yaml
Owners: @elastic/apm-agent-java

fix pebkc
  custom/src/main/resources/co/elastic/otel/config.yaml
Owners: @elastic/apm-agent-java

update comment for grpc
  custom/src/main/resources/co/elastic/otel/config.yaml
Owners: @elastic/apm-agent-java

Apply comment
  docs/reference/edot-java/setup/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

docs: add application server setup and JAVA_TOOL_OPTIONS scope warning (#1059)
  docs/reference/edot-java/setup/index.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

declarative config metrics delta (#1062)
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
  smoke-tests/src/test/java/com/example/javaagent/smoketest/AppServerProvidersTest.java
  smoke-tests/src/test/java/com/example/javaagent/smoketest/SmokeTest.java
  smoke-tests/src/test/java/com/example/javaagent/smoketest/TestAppSmokeTest.java
Owners: @elastic/apm-agent-java

move logger init to avoid ClassCircularityError
  internal-logging/src/main/java/co/elastic/otel/logging/AgentLog.java
  internal-logging/src/main/java/co/elastic/otel/logging/ElasticLoggingCustomizer.java
  internal-logging/src/main/java/co/elastic/otel/logging/Slf4jInternalLogger.java
Owners: @elastic/apm-agent-java

code review
  internal-logging/src/main/java/co/elastic/otel/logging/AgentLog.java
Owners: @elastic/apm-agent-java

remove description from changelog entry for upstream updates
  .ci/changelog-upstream-update.sh
  build.gradle.kts
Owners: @elastic/apm-agent-java

use generated changelog for changelog release bundle
  .ci/changelog-bundle-description.sh
  .github/workflows/pre-post-release.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

more accurate description of dependencies in changelog
  build.gradle.kts
Owners: @elastic/apm-agent-java

move logger init to avoid ClassCircularityError (#1064)
  internal-logging/src/main/java/co/elastic/otel/logging/AgentLog.java
  internal-logging/src/main/java/co/elastic/otel/logging/ElasticLoggingCustomizer.java
  internal-logging/src/main/java/co/elastic/otel/logging/Slf4jInternalLogger.java
Owners: @elastic/apm-agent-java

align release notes
  docs/releases/1.1.0.yaml
  docs/releases/1.10.0.yaml
  docs/releases/1.2.0.yaml
  docs/releases/1.2.1.yaml
  docs/releases/1.3.0.yaml
  docs/releases/1.4.0.yaml
  docs/releases/1.4.1.yaml
  docs/releases/1.5.0.yaml
  docs/releases/1.6.0.yaml
  docs/releases/1.7.0.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

remove upstream updates description
  docs/changelog/upstream-update.yaml
  docs/releases/1.10.0.yaml
  docs/releases/1.2.0.yaml
  docs/releases/1.4.0.yaml
  docs/releases/1.5.0.yaml
  docs/releases/1.6.0.yaml
  docs/releases/1.7.0.yaml
  docs/releases/1.8.0.yaml
  docs/releases/1.9.0.yaml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

split long line
  .github/workflows/pre-post-release.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

review changes
  .github/workflows/pre-post-release.yml
  docs/releases/1.1.0.yaml
  docs/releases/1.10.0.yaml
  docs/releases/1.2.0.yaml
  docs/releases/1.2.1.yaml
  docs/releases/1.3.0.yaml
  docs/releases/1.4.0.yaml
  docs/releases/1.4.1.yaml
  docs/releases/1.5.0.yaml
  docs/releases/1.6.0.yaml
  docs/releases/1.7.0.yaml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

enable indy by default
  custom/src/main/resources/co/elastic/otel/config.yaml
Owners: @elastic/apm-agent-java

add default propagators
  custom/src/main/resources/co/elastic/otel/config.yaml
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
Owners: @elastic/apm-agent-java

test propagators and indy
  custom/src/test/java/co/elastic/otel/declarativeconfig/DefaultDeclarativeConfigTest.java
Owners: @elastic/apm-agent-java

.github/CODEOWNERS:

* @elastic/apm-agent-java
/.github/actions/  @elastic/apm-agent-java @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-java @elastic/observablt-ci
*.md @elastic/apm-agent-java @elastic/ingest-docs
/docs/ @elastic/apm-agent-java @elastic/ingest-docs
