Repository elastic/elastic-otel-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/apm-agent-java, @elastic/observablt-ci, @elastic/ingest-docs

.github/CODEOWNERS:

* @elastic/apm-agent-java
/.github/actions/  @elastic/apm-agent-java @elastic/observablt-ci
/.github/workflows/  @elastic/apm-agent-java @elastic/observablt-ci
*.md @elastic/apm-agent-java @elastic/ingest-docs
/docs/ @elastic/apm-agent-java @elastic/ingest-docs

revert bad merge
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java

Add experimental composite samplers
  custom/build.gradle.kts
  custom/src/main/java/co/elastic/otel/compositesampling/CompositeAlwaysOffSamplerProvider.java
  custom/src/main/java/co/elastic/otel/compositesampling/CompositeAlwaysOnSamplerProvider.java
  custom/src/main/java/co/elastic/otel/compositesampling/CompositeParentBasedAlwaysOffSamplerProvider.java
  custom/src/main/java/co/elastic/otel/compositesampling/CompositeParentBasedAlwaysOnSamplerProvider.java
  custom/src/main/java/co/elastic/otel/compositesampling/CompositeParentBasedTraceIdRatioBasedSamplerProvider.java
  custom/src/main/java/co/elastic/otel/compositesampling/CompositeTraceIdRatioBasedSamplerProvider.java
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java

fix polling interval option to align with UI
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
Owners: @elastic/apm-agent-java

fix polling interval option to align with UI (#780)
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
Owners: @elastic/apm-agent-java

Adding opamp lib to the catalog
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java

Adapting CentralConfig to upstream opamp
  custom/build.gradle.kts
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/internal/OpampManager.java
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java

Validating OpampManager
  custom/build.gradle.kts
  custom/src/test/java/co/elastic/otel/dynamicconfig/internal/OpampManagerTest.java
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java

Updating opampmanager constructor visibility
  custom/src/main/java/co/elastic/otel/dynamicconfig/internal/OpampManager.java
Owners: @elastic/apm-agent-java

Removing mockwebserver
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java

Using wiremock for opamp test
  custom/build.gradle.kts
  custom/src/test/java/co/elastic/otel/dynamicconfig/internal/OpampManagerTest.java
Owners: @elastic/apm-agent-java

Spotless
  custom/src/test/java/co/elastic/otel/dynamicconfig/internal/OpampManagerTest.java
Owners: @elastic/apm-agent-java

Excluding otel transitive dependency
  custom/build.gradle.kts
Owners: @elastic/apm-agent-java

Only keep parent based traceid
  custom/src/main/java/co/elastic/otel/compositesampling/CompositeAlwaysOffSamplerProvider.java
  custom/src/main/java/co/elastic/otel/compositesampling/CompositeAlwaysOnSamplerProvider.java
  custom/src/main/java/co/elastic/otel/compositesampling/CompositeParentBasedAlwaysOffSamplerProvider.java
  custom/src/main/java/co/elastic/otel/compositesampling/CompositeParentBasedAlwaysOnSamplerProvider.java
  custom/src/main/java/co/elastic/otel/compositesampling/CompositeTraceIdRatioBasedSamplerProvider.java
Owners: @elastic/apm-agent-java

Add crosslink to troubleshooting
  docs/reference/toc.yml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Bumping versions and fixing symbols
  buildSrc/src/main/kotlin/elastic-otel.agent-packaging-conventions.gradle.kts
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java

Update docs/reference/toc.yml
  docs/reference/toc.yml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Move docs to folder
  .gitignore
  docs/docset.yml
  docs/reference/edot-java/configuration.md
  docs/reference/edot-java/features.md
  docs/reference/edot-java/index.md
  docs/reference/edot-java/migration.md
  docs/reference/edot-java/overhead.md
  docs/reference/edot-java/setup/index.md
  docs/reference/edot-java/setup/k8s.md
  docs/reference/edot-java/setup/runtime-attach.md
  docs/reference/edot-java/supported-technologies.md
  docs/reference/edot-java/toc.yml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Add reference docs (#793)
  .gitignore
  docs/docset.yml
  docs/reference/edot-java/configuration.md
  docs/reference/edot-java/features.md
  docs/reference/edot-java/index.md
  docs/reference/edot-java/migration.md
  docs/reference/edot-java/overhead.md
  docs/reference/edot-java/setup/index.md
  docs/reference/edot-java/setup/k8s.md
  docs/reference/edot-java/setup/runtime-attach.md
  docs/reference/edot-java/supported-technologies.md
  docs/reference/edot-java/toc.yml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Merging services
  buildSrc/src/main/kotlin/elastic-otel.agent-packaging-conventions.gradle.kts
Owners: @elastic/apm-agent-java

Using resolvable configuration
  agent/build.gradle.kts
  buildSrc/src/main/kotlin/elastic-otel.agent-packaging-conventions.gradle.kts
Owners: @elastic/apm-agent-java

Renaming upstream distro name & version provider
  custom/src/main/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProvider.java
  custom/src/test/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProviderTest.java
Owners: @elastic/apm-agent-java

Add relnotes xlink
  docs/docset.yml
  docs/reference/edot-java/toc.yml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Add relnotes xlink (#795)
  docs/docset.yml
  docs/reference/edot-java/toc.yml
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Update custom/src/main/java/co/elastic/otel/dynamicconfig/internal/OpampManager.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/internal/OpampManager.java
Owners: @elastic/apm-agent-java

Adding test for opamp exponential backoff
  custom/src/test/java/co/elastic/otel/dynamicconfig/internal/OpampManagerTest.java
Owners: @elastic/apm-agent-java

Improving test for opamp exponential backoff
  custom/src/test/java/co/elastic/otel/dynamicconfig/internal/OpampManagerTest.java
Owners: @elastic/apm-agent-java

Updating comment
  custom/src/test/java/co/elastic/otel/dynamicconfig/internal/OpampManagerTest.java
Owners: @elastic/apm-agent-java

Updating comment
  custom/src/test/java/co/elastic/otel/dynamicconfig/internal/OpampManagerTest.java
Owners: @elastic/apm-agent-java

Make dynamic
  custom/src/main/java/co/elastic/otel/compositesampling/CompositeParentBasedTraceIdRatioBasedSamplerProvider.java
  custom/src/main/java/co/elastic/otel/compositesampling/DynamicCompositeParentBasedTraceIdRatioBasedSampler.java
Owners: @elastic/apm-agent-java

Modifies H1 title for better SEO
  docs/reference/edot-java/overhead.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Modifies H1 title for better SEO (#798)
  docs/reference/edot-java/overhead.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Update overhead.md
  docs/reference/edot-java/overhead.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Update overhead.md (#799)
  docs/reference/edot-java/overhead.md
Owners: @elastic/apm-agent-java, @elastic/ingest-docs

Upstream update and shadow plugin configuration (#794)
  agent/build.gradle.kts
  buildSrc/src/main/kotlin/elastic-otel.agent-packaging-conventions.gradle.kts
  custom/src/main/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProvider.java
  custom/src/test/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProviderTest.java
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java

Replace tibdex/github-app-token with actions/create-github-app-token (#801)
  .github/workflows/labeler.yml
  .github/workflows/pre-post-release.yml
  .github/workflows/updatecli.yml
Owners: @elastic/apm-agent-java, @elastic/observablt-ci

Add experimental composite samplers (#777)
  custom/build.gradle.kts
  custom/src/main/java/co/elastic/otel/compositesampling/CompositeParentBasedTraceIdRatioBasedSamplerProvider.java
  custom/src/main/java/co/elastic/otel/compositesampling/DynamicCompositeParentBasedTraceIdRatioBasedSampler.java
  gradle/libs.versions.toml
Owners: @elastic/apm-agent-java

add sampler
  custom/src/main/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProvider.java
Owners: @elastic/apm-agent-java

add sampler
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
Owners: @elastic/apm-agent-java

fix order
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
Owners: @elastic/apm-agent-java

fix typos
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
Owners: @elastic/apm-agent-java
