Repository elastic/elastic-otel-java, pull requests merged in 2025-09, with the labels that each got.

#793 Add reference docs
  .gitignore
  docs/docset.yml
  docs/reference/edot-java/configuration.md
  docs/reference/edot-java/features.md
  docs/reference/edot-java/index.md
  docs/reference/edot-java/migration.md
  docs/reference/edot-java/overhead.md
  docs/reference/edot-java/setup/index.md
  docs/reference/edot-java/setup/k8s.md
  docs/reference/edot-java/setup/runtime-attach.md
  docs/reference/edot-java/supported-technologies.md
  docs/reference/edot-java/toc.yml
Labels: documentation, agent-java

#795 Add relnotes xlink
  docs/docset.yml
  docs/reference/edot-java/toc.yml
Labels: agent-java

#799 Update overhead.md
  docs/reference/edot-java/overhead.md
Labels: documentation

#810 Hook up sampler
  custom/src/main/java/co/elastic/otel/ElasticAutoConfigurationCustomizerProvider.java
  custom/src/main/java/co/elastic/otel/dynamicconfig/CentralConfig.java
Labels: agent-java
